.App {
  text-align: center;
}

.valentines-pic {
  height: 500px;
  width: 500px;
  border-radius: 100px;
}

.App-header {
  font-family: monospace;
  font-weight: bold;
  background-color: rgb(250, 215, 215);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #381313;
}

.yes-button {
  font-family:'Courier New', Courier, monospace;
  color: #381313;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 8px;
}

.yes-button:hover {
  background-color: #4f7;
}

.no-button {
  font-family:'Courier New', Courier, monospace;
  color: #381313;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 8px;
}

.no-button:hover {
  background-color: rgb(255, 68, 68);
}